@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qwigley&display=swap");

.bigButton {
  padding: 1rem 3rem;
  background: linear-gradient(-145deg, white, #5d9eb522);
  color: black;
  margin: 30px 10px;
  border-radius: 40px;
  font-size: 26px;
  text-decoration: none;
  font-family: "Merienda", cursive;
  font-weight: 200;
  backdrop-filter: blur(3rem);
  /* max-width: 1000px; */
  border: 1px solid beige;
  -webkit-box-shadow: 10px 19px 22px -12px rgba(0, 0, 0, 0.13);
  box-shadow: 10px 19px 22px -12px rgba(0, 0, 0, 0.13);
  border: 2px solid #5d9eb5;
}
.smallButton {
  padding: 0.7rem 2rem;
  background: white;
  color: #325e6e;
  margin: 16px 14px;
  border-radius: 30px;
  font-size: 16px;
  text-decoration: none;
  font-family: "Merienda", cursive;
  font-weight: 600;
  backdrop-filter: blur(3rem);
  max-width: 1000px;
  border: 2px solid #d7b26b;
  -webkit-box-shadow: 9px 13px 16px -9px rgba(0, 0, 0, 0.1);
  box-shadow: 9px 13px 16px -9px rgba(0, 0, 0, 0.1);
}
.blur {
  opacity: 0.2;
}
.border {
  border: 1px solid black !important;
}
.Menu {
  padding: 1.4rem 4rem;
  background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.447));
  color: #325e6e;
  border-radius: 40px;
}

.buttonContainer {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100vw;
  bottom: 0px;
}

.diageoContainer img {
  max-width: 90px;
  height: auto;
}
